<h4>Listado</h4>

<ul class="list-group">

  <li *ngFor="
      let char of characters_list; let i = index;
      let f = first;
      let l = last;
      let par = even;
      let impar = odd;
      " class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{'list-group-item-primary': par, 'list-group-item-warning': f || l}">

    <div>
      <span class="text-primary">{{i + 1}}.
      </span> <span> {{char.name}}</span> -
      <strong>Power: </strong> {{char.power}}
    </div>

    <button (click)="onDeleteChar(char.id)" class="btn btn-danger">X</button>

  </li>

</ul>
